dev/knowledge-qa-workflow.yml
app:
  description: 查询Dify知识库接口文档
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Dify知识库问答
  use_icon_as_answer_icon: false
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
      number_limits: 3
    opening_statement: 我是知识库查询助手，可以帮你查Dify接口文档
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: start-kr-edge
      source: start
      sourceHandle: source
      target: kr
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: kr-llm-edge
      source: kr
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-answer-edge
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: query
      height: 90
      id: start
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context: null
        desc: ''
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: kr
      position:
        x: 400
        y: 200
      positionAbsolute:
        x: 400
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - kr
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-v4-pro
          provider: deepseek
        prompt_template:
        - id: system-prompt
          role: system
          text: "你是一个严格的文档查询助手。你必须且只能根据下方上下文中的知识库检索结果来回答问题。\n\n规则：\n1. 只能使用上下文中的信息，绝对禁止使用外部知识或猜测。\n2. 如果上下文中找不到相关信息，直接回答\"文档中未找到相关信息\"。\n3. 回答要简洁、准确，列出统计依据。"
        - id: user-prompt
          role: user
          text: '{{#start.query#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 120
      id: llm
      position:
        x: 720
        y: 200
      positionAbsolute:
        x: 720
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
      height: 120
      id: answer
      position:
        x: 1040
        y: 200
      positionAbsolute:
        x: 1040
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
